# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
.venv
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# pytest cache
.pytest_cache/

# Logs
logs/

# Training checkpoints
checkpoints/

# Data
data/*
!data/results

# Models
models/*
!models/.gitkeep

# wandb
results/wandb/*

# Linting cache
.ruff_cache/

# Python cache
**/__pycache__/

# Mkdocs compiled documentation
site/

# not sure
discar_imgsdecreased_lr
checkpoints/best_au_adapter.safetensors

# any image files
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff

# any model files
*.safetensors
*.pt
*.pth
